{{ template "header.html" . }}
<div class="page-header d-print-none text-white">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          {{ .title }}
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
                {{ if .search }}
                Assets {{ if eq .restart "true" }}that need to be restarted {{ end }}containing <kbd>{{ .search }}</kbd>
              {{ else }}
                Registered assets {{ if eq .restart "true" }}that need to be restarted{{ end }}
              {{ end }}
            </h3>
            <div class="card-actions">
              <div class="ms-auto text-secondary">
                <div class="row g-2">
                  <div class="col">
                    <input type="text" class="form-control" autocomplete="off" aria-label="Search assets" placeholder="Search by hostname or id" value="{{ .search }}" id="search" name="search" onkeydown="handleSearch(event)">
                  </div>
                  <div class="col-auto">
                    <label class="form-selectgroup-item" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Show only assets that need to be restarted">
                      <input type="checkbox" id="restart" name="restart" value="true" class="form-selectgroup-input"{{ if eq .restart "true" }} checked{{ end }}>
                      <span class="form-selectgroup-label">
                        <!-- Download SVG icon from http://tabler.io/icons/icon/refresh-alert -->
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-refresh-alert"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" /><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" /><path d="M12 9l0 3" /><path d="M12 15l.01 0" /></svg>
                      </span>
                    </label>
                  </div>
                  <div class="col-auto">
                    <a href="javascript:search();" class="btn btn-2 btn-icon" aria-label="Button">
                      <!-- Download SVG icon from http://tabler.io/icons/icon/search -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-2">
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                        <path d="M21 21l-6 -6"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{ if eq (len .assets) 0 }}
          <div class="empty">
            <div class="empty-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="12" cy="12" r="9" />
                <line x1="9" y1="10" x2="9.01" y2="10" />
                <line x1="15" y1="10" x2="15.01" y2="10" />
                <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
              </svg>
            </div>
            <p class="empty-title">No assets found{{ if .search }} containing <kbd>{{ .search }}</kbd>{{ end }}</p>
            <p class="empty-subtitle text-muted">Start by running <a href="https://txlog.rda.run/docs/agent" target="_blank">Txlog Agent</a> in one of your servers.</p>
          </div>
          {{ else }}
          <div class="table-responsive">
            <table class="table table-vcenter table-mobile-md card-table">
              <thead>
                <tr>
                  <th>Hostname
                    <i class="ti ti-chevron-up"></i>
                  </th>
                  <th>Last Seen</th>
                  <th class="w-1">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {{ with .assets }}
                  {{ range . }}
                    <tr>
                      <td data-label="Name">
                        <div class="d-flex py-1 align-items-center">
                          <span class="avatar avatar-2 me-2" style="background-image: url(/images/{{ brand .OS }})">
                            {{ if derefBool .NeedsRestarting }}
                              <span class="badge badge-dot bg-yellow badge-notification badge-blink" title="Asset must be restarted"></span>
                            {{ end }}
                          </span>
                          <div class="flex-fill">
                            <div class="font-weight-medium">{{ .Hostname }}</div>
                            <div class="text-secondary">{{ .MachineID }}</div>
                          </div>
                        </div>
                      </td>
                      <td data-label="Title">
                        <div class="text-secondary">{{ .ExecutedAt.Format "02/01/2006 15:04:05 MST" }}</div>
                      </td>
                      <td>
                        <a class="btn align-text-top" href="/assets/{{ .MachineID }}">Details</a>
                      </td>
                    </tr>
                  {{ end }}
                {{ end }}
              </tbody>
            </table>
          </div>

          <div class="card-footer d-flex align-items-center">
            <p class="m-0 text-secondary">Showing <span>{{ add $.offset 1 }}</span> to <span>{{ min (add $.offset $.limit) $.totalRecords }}</span> of <span>{{ .totalRecords }}</span> entries</p>
            <ul class="pagination m-0 ms-auto">
              <li class="page-item {{ if eq $.page 1 }}disabled{{ end }}">
                <a class="page-link" href="?page={{ .page | add -1 }}" tabindex="-1" aria-disabled="true">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-1">
                    <path d="M15 6l-6 6l6 6"></path>
                  </svg>
                  prev
                </a>
              </li>
              {{ range $i := iterate 1 .totalPages }}
              <li class="page-item{{ if eq $.page $i }} active{{ end }}">
                <a class="page-link" href="?page={{ $i }}">{{ $i }}</a>
              </li>
              {{ end }}
              <li class="page-item {{ if eq $.page $.totalPages }}disabled{{ end }}">
                <a class="page-link" href="?page={{ .page | add 1 }}" aria-disabled="true">
                  next
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-1">
                    <path d="M9 6l6 6l-6 6"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function search() {
    const searchValue = document.getElementById('search').value;
    const restartValue = document.getElementById('restart').checked;
    const hasQueryParams = window.location.search.includes('?');
    const url = new URL(window.location.href);
    url.searchParams.set('search', searchValue);
    url.searchParams.set('restart', restartValue);
    window.location.href = url.toString();
  }

  function handleSearch(event) {
    if (event.key === 'Enter') {
      search();
    }
  }
</script>
{{ template "footer.html" . }}
