{{ template "header.html" . }}
<div class="page-header d-print-none text-white">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          {{ .title }}
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">New assets</div>
              <div class="ms-auto lh-1 text-secondary">
                Last 30 days
              </div>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="h1 mb-0 me-2">{{ range .statistics }}{{ if eq .Name "servers-30-days" }}{{ printf "%s" (formatInteger .Value) }}{{ end }}{{ end }}</div>
              <div class="me-auto">
                <span class="{{ range .statistics }}{{ if eq .Name "servers-30-days" }}{{ if gt .Percentage 0.0 }}text-green{{ else if lt .Percentage 0.0 }}text-red{{ else }}text-yellow{{ end }}{{ end }}{{ end }} d-inline-flex align-items-center lh-1">
                  {{ range .statistics }}{{ if eq .Name "servers-30-days" }}{{ printf "%s" (formatPercentage .Percentage) }}{{ end }}{{ end }}%
                  <i class="ti ti-{{ range .statistics }}{{ if eq .Name "servers-30-days" }}{{ if gt .Percentage 0.0 }}trending-up{{ else if lt .Percentage 0.0 }}trending-down{{ else }}minus{{ end }}{{ end }}{{ end }}"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">Executions</div>
              <div class="ms-auto lh-1 text-secondary">
                Last 30 days
              </div>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="h1 mb-0 me-2">{{ range .statistics }}{{ if eq .Name "executions-30-days" }}{{ printf "%s" (formatInteger .Value) }}{{ end }}{{ end }}</div>
              <div class="me-auto">
                <span class="{{ range .statistics }}{{ if eq .Name "executions-30-days" }}{{ if gt .Percentage 0.0 }}text-green{{ else if lt .Percentage 0.0 }}text-red{{ else }}text-yellow{{ end }}{{ end }}{{ end }} d-inline-flex align-items-center lh-1">
                  {{ range .statistics }}{{ if eq .Name "executions-30-days" }}{{ printf "%s" (formatPercentage .Percentage) }}{{ end }}{{ end }}%
                  <i class="ti ti-{{ range .statistics }}{{ if eq .Name "executions-30-days" }}{{ if gt .Percentage 0.0 }}trending-up{{ else if lt .Percentage 0.0 }}trending-down{{ else }}minus{{ end }}{{ end }}{{ end }}"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">Installed packages</div>
              <div class="ms-auto lh-1 text-secondary">
                Last 30 days
              </div>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="h1 mb-0 me-2">{{ range .statistics }}{{ if eq .Name "installed-packages-30-days" }}{{ printf "%s" (formatInteger .Value) }}{{ end }}{{ end }}</div>
              <div class="me-auto">
                <span class="{{ range .statistics }}{{ if eq .Name "installed-packages-30-days" }}{{ if gt .Percentage 0.0 }}text-green{{ else if lt .Percentage 0.0 }}text-red{{ else }}text-yellow{{ end }}{{ end }}{{ end }} d-inline-flex align-items-center lh-1">
                  {{ range .statistics }}{{ if eq .Name "installed-packages-30-days" }}{{ printf "%s" (formatPercentage .Percentage) }}{{ end }}{{ end }}%
                  <i class="ti ti-{{ range .statistics }}{{ if eq .Name "installed-packages-30-days" }}{{ if gt .Percentage 0.0 }}trending-up{{ else if lt .Percentage 0.0 }}trending-down{{ else }}minus{{ end }}{{ end }}{{ end }}"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">Upgraded Packages</div>
              <div class="ms-auto lh-1 text-secondary">
                Last 30 days
              </div>
            </div>
            <div class="d-flex align-items-baseline">
                <div class="h1 mb-0 me-2">{{ range .statistics }}{{ if eq .Name "upgraded-packages-30-days" }}{{ printf "%s" (formatInteger .Value) }}{{ end }}{{ end }}</div>
              <div class="me-auto">
                <span class="{{ range .statistics }}{{ if eq .Name "upgraded-packages-30-days" }}{{ if gt .Percentage 0.0 }}text-green{{ else if lt .Percentage 0.0 }}text-red{{ else }}text-yellow{{ end }}{{ end }}{{ end }} d-inline-flex align-items-center lh-1">
                  {{ range .statistics }}{{ if eq .Name "upgraded-packages-30-days" }}{{ printf "%s" (formatPercentage .Percentage) }}{{ end }}{{ end }}%
                  <i class="ti ti-{{ range .statistics }}{{ if eq .Name "upgraded-packages-30-days" }}{{ if gt .Percentage 0.0 }}trending-up{{ else if lt .Percentage 0.0 }}trending-down{{ else }}minus{{ end }}{{ end }}{{ end }}"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">OS distribution</h3>
          </div>
          {{ if eq (len .assetsByOS) 0 }}
            <div class="empty">
              <div class="empty-img"></div>
              <p class="empty-title">No assets found</p>
              <p class="empty-subtitle text-secondary">Start by running <a href="https://txlog.rda.run/docs/agent" target="_blank">Txlog Agent</a> in one of your servers.</p>
            </div>
          {{ else }}
            <div class="card-table table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>OS name</th>
                    <th>Assets</th>
                  </tr>
                </thead>
                <tbody>
                  {{ with .assetsByOS }}
                    {{ range . }}
                      <tr>
                        <td>{{ if eq .OS "" }}Undefined OS{{ else }}{{ .OS }}{{ end }}</td>
                        <td class="text-nowrap">
                          <a href="#" class="text-secondary" onclick="showOSModal('{{ .OS }}')">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
                            {{ .NumMachines }}</a>
                        </td>
                      </tr>
                    {{ end }}
                  {{ end }}
                </tbody>
              </table>
            </div>
          {{ end }}
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Agent distribution</h3>
          </div>
          {{ if eq (len .assetsByAgentVersion) 0 }}
            <div class="empty">
              <div class="empty-img"></div>
              <p class="empty-title">No assets found</p>
              <p class="empty-subtitle text-secondary">Start by running <a href="https://txlog.rda.run/docs/agent" target="_blank">Txlog Agent</a> in one of your servers.</p>
            </div>
          {{ else }}
            <div class="card-table table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Agent version</th>
                    <th>Assets</th>
                  </tr>
                </thead>
                <tbody>
                  {{ with .assetsByAgentVersion }}
                    {{ range . }}
                      <tr>
                        <td>{{ if eq .AgentVersion "" }}Undefined Agent Version{{ else }}{{ .AgentVersion }}{{ end }}</td>
                        <td class="text-nowrap">
                          <a href="#" class="text-secondary" onclick="showAgentModal('{{ .AgentVersion }}')">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
                            {{ .NumMachines }}</a>
                        </td>
                      </tr>
                    {{ end }}
                  {{ end }}
                </tbody>
              </table>
            </div>
          {{ end }}
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Replaced assets <span class="card-subtitle">last 30 days</span></h3>
          </div>
          {{ if eq (len .duplicatedAssets) 0 }}
            <div class="empty">
              <div class="empty-img"></div>
              <p class="empty-title">No replaced assets</p>
              <p class="empty-subtitle text-secondary">in the last 30 days.</p>
            </div>
          {{ else }}
            <div class="card-table table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Hostname</th>
                    <th class="w-1">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {{ with .duplicatedAssets }}
                    {{ range . }}
                      <tr>
                        <td>{{ if eq .Hostname "" }}Undefined{{ else }}{{ .Hostname }}{{ end }}</td>
                        <td>
                          <a href="#" onclick="showModal('')">Details</a>
                        </td>
                      </tr>
                    {{ end }}
                  {{ end }}
                </tbody>
              </table>
            </div>
          {{ end }}
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Most upgraded packages</h3>
          </div>
          {{ if eq (len .assetsByAgentVersion) 0 }}
            <div class="empty">
              <div class="empty-img"></div>
              <p class="empty-title">No packages to list</p>
              <p class="empty-subtitle text-secondary">Start by running <a href="https://txlog.rda.run/docs/agent" target="_blank">Txlog Agent</a> in one of your servers.</p>
            </div>
          {{ else }}
            <div class="card-table table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Last week</td>
                    <td class="text-nowrap">
                      <a href="#" class="text-secondary" onclick="showReplacedAssetsModal('last-week')">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
                        0</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Last month</td>
                    <td class="text-nowrap">
                      <a href="#" class="text-secondary" onclick="showReplacedAssetsModal('last-week')">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
                        0</a>
                    </td>
                  </tr>
                  <tr>
                    <td>All time</td>
                    <td class="text-nowrap">
                      <a href="#" class="text-secondary" onclick="showReplacedAssetsModal('last-week')">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
                        0</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function showAgentModal(agentVersion) {
    if (agentVersion == "") {
      agentVersion = "with undefined version";
    }

    fetch(`/v1/machines?agent_version=${agentVersion}`)
      .then(response => response.json())
      .then(data => {
        const result = data;

        if (result && result.length != 0) {
          const tableBody = document.getElementById('modal-table-body');
          tableBody.innerHTML = ''; // Clear previous rows
          result.forEach(item => {
            const row = document.createElement('tr');
            row.innerHTML = `
              <td>${item.hostname}</td>
              <td class="text-end">
                <a href="/machines/${item.machine_id}" class="btn btn-1"> Details </a>
              </td>
            `;
            tableBody.appendChild(row);
          });
        } else {
          const tableBody = document.getElementById('modal-table-body');
          tableBody.innerHTML = '<tr><td colspan="2">No assets found using this agent version.</td></tr>';
        }
      })
      .catch(error => console.error('Error:', error));

      document.getElementById('modal-title').textContent = "Assets using Agent " + agentVersion;

      var myModal = new bootstrap.Modal(document.getElementById('modal-scrollable'), {
        keyboard: true,
        backdrop: 'static'
      });
      myModal.show();
  }

  function showOSModal(os) {
    if (os == "") {
      os = "Undefined OS";
    }

    fetch(`/v1/machines?os=${os}`)
      .then(response => response.json())
      .then(data => {
        const result = data;
        if (result && result.length != 0) {
          const tableBody = document.getElementById('modal-table-body');
          tableBody.innerHTML = ''; // Clear previous rows
          result.forEach(item => {
            const row = document.createElement('tr');
            row.innerHTML = `
              <td>${item.hostname}</td>
              <td class="text-end">
                <a href="/machines/${item.machine_id}" class="btn btn-1"> Details </a>
              </td>
            `;
            tableBody.appendChild(row);
          });
        } else {
          const tableBody = document.getElementById('modal-table-body');
          tableBody.innerHTML = '<tr><td colspan="2">No assets found using this operating system.</td></tr>';
        }
      })
      .catch(error => console.error('Error:', error));

      document.getElementById('modal-title').textContent = "Assets using " + os;

      var myModal = new bootstrap.Modal(document.getElementById('modal-scrollable'), {
        keyboard: true,
        backdrop: 'static'
      });
      myModal.show();
  }
</script>
<div class="modal modal-blur fade" id="modal-scrollable" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">
          <div class="placeholder placeholder-xs col-11"></div>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-vcenter table-striped">
          <thead>
            <tr>
              <th>Hostname</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody id="modal-table-body">
            <tr>
              <td colspan="2">
                <div class="progress progress-sm">
                  <div class="progress-bar progress-bar-indeterminate"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{ template "footer.html" . }}
