{{ template "header.html" . }}
<div class="page-header d-print-none text-white">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          {{ .title }}
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">New assets</div>
              <div class="ms-auto lh-1 text-secondary">
                Last 30 days
              </div>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="h1 mb-0 me-2">{{ range .statistics }}{{ if eq .Name "servers-30-days" }}{{ printf "%s" (formatInteger .Value) }}{{ end }}{{ end }}</div>
              <div class="me-auto">
                <span class="{{ range .statistics }}{{ if eq .Name "servers-30-days" }}{{ if gt .Percentage 0.0 }}text-green{{ else if lt .Percentage 0.0 }}text-red{{ else }}text-yellow{{ end }}{{ end }}{{ end }} d-inline-flex align-items-center lh-1">
                  {{ range .statistics }}{{ if eq .Name "servers-30-days" }}{{ printf "%s" (formatPercentage .Percentage) }}{{ end }}{{ end }}%
                  <i class="ti ti-{{ range .statistics }}{{ if eq .Name "servers-30-days" }}{{ if gt .Percentage 0.0 }}trending-up{{ else if lt .Percentage 0.0 }}trending-down{{ else }}minus{{ end }}{{ end }}{{ end }}"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">Executions</div>
              <div class="ms-auto lh-1 text-secondary">
                Last 30 days
              </div>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="h1 mb-0 me-2">{{ range .statistics }}{{ if eq .Name "executions-30-days" }}{{ printf "%s" (formatInteger .Value) }}{{ end }}{{ end }}</div>
              <div class="me-auto">
                <span class="{{ range .statistics }}{{ if eq .Name "executions-30-days" }}{{ if gt .Percentage 0.0 }}text-green{{ else if lt .Percentage 0.0 }}text-red{{ else }}text-yellow{{ end }}{{ end }}{{ end }} d-inline-flex align-items-center lh-1">
                  {{ range .statistics }}{{ if eq .Name "executions-30-days" }}{{ printf "%s" (formatPercentage .Percentage) }}{{ end }}{{ end }}%
                  <i class="ti ti-{{ range .statistics }}{{ if eq .Name "executions-30-days" }}{{ if gt .Percentage 0.0 }}trending-up{{ else if lt .Percentage 0.0 }}trending-down{{ else }}minus{{ end }}{{ end }}{{ end }}"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">Installed packages</div>
              <div class="ms-auto lh-1 text-secondary">
                Last 30 days
              </div>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="h1 mb-0 me-2">{{ range .statistics }}{{ if eq .Name "installed-packages-30-days" }}{{ printf "%s" (formatInteger .Value) }}{{ end }}{{ end }}</div>
              <div class="me-auto">
                <span class="{{ range .statistics }}{{ if eq .Name "installed-packages-30-days" }}{{ if gt .Percentage 0.0 }}text-green{{ else if lt .Percentage 0.0 }}text-red{{ else }}text-yellow{{ end }}{{ end }}{{ end }} d-inline-flex align-items-center lh-1">
                  {{ range .statistics }}{{ if eq .Name "installed-packages-30-days" }}{{ printf "%s" (formatPercentage .Percentage) }}{{ end }}{{ end }}%
                  <i class="ti ti-{{ range .statistics }}{{ if eq .Name "installed-packages-30-days" }}{{ if gt .Percentage 0.0 }}trending-up{{ else if lt .Percentage 0.0 }}trending-down{{ else }}minus{{ end }}{{ end }}{{ end }}"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">Upgraded Packages</div>
              <div class="ms-auto lh-1 text-secondary">
                Last 30 days
              </div>
            </div>
            <div class="d-flex align-items-baseline">
                <div class="h1 mb-0 me-2">{{ range .statistics }}{{ if eq .Name "upgraded-packages-30-days" }}{{ printf "%s" (formatInteger .Value) }}{{ end }}{{ end }}</div>
              <div class="me-auto">
                <span class="{{ range .statistics }}{{ if eq .Name "upgraded-packages-30-days" }}{{ if gt .Percentage 0.0 }}text-green{{ else if lt .Percentage 0.0 }}text-red{{ else }}text-yellow{{ end }}{{ end }}{{ end }} d-inline-flex align-items-center lh-1">
                  {{ range .statistics }}{{ if eq .Name "upgraded-packages-30-days" }}{{ printf "%s" (formatPercentage .Percentage) }}{{ end }}{{ end }}%
                  <i class="ti ti-{{ range .statistics }}{{ if eq .Name "upgraded-packages-30-days" }}{{ if gt .Percentage 0.0 }}trending-up{{ else if lt .Percentage 0.0 }}trending-down{{ else }}minus{{ end }}{{ end }}{{ end }}"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">OS distribution</h3>
          </div>
          {{ if eq (len .assetsByOS) 0 }}
            <div class="empty">
              <div class="empty-img"></div>
              <p class="empty-title">No assets found</p>
              <p class="empty-subtitle text-secondary">Start by running <a href="https://txlog.rda.run/docs/agent" target="_blank">Txlog Agent</a> in one of your servers.</p>
            </div>
          {{ else }}
            <div class="card-table table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>OS name</th>
                    <th>Assets</th>
                  </tr>
                </thead>
                <tbody>
                  {{ with .assetsByOS }}
                    {{ range . }}
                      <tr>
                        <td>{{ if eq .OS "" }}Undefined OS{{ else }}{{ .OS }}{{ end }}</td>
                        <td>{{ .NumMachines }}</td>
                      </tr>
                    {{ end }}
                  {{ end }}
                </tbody>
              </table>
            </div>
          {{ end }}
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Agent distribution</h3>
          </div>
          {{ if eq (len .assetsByAgentVersion) 0 }}
            <div class="empty">
              <div class="empty-img"></div>
              <p class="empty-title">No assets found</p>
              <p class="empty-subtitle text-secondary">Start by running <a href="https://txlog.rda.run/docs/agent" target="_blank">Txlog Agent</a> in one of your servers.</p>
            </div>
          {{ else }}
            <div class="card-table table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Agent version</th>
                    <th>Assets</th>
                  </tr>
                </thead>
                <tbody>
                  {{ with .assetsByAgentVersion }}
                    {{ range . }}
                      <tr>
                        <td>{{ if eq .AgentVersion "" }}Undefined Agent Version{{ else }}{{ .AgentVersion }}{{ end }}</td>
                        <td>{{ .NumMachines }}</td>
                      </tr>
                    {{ end }}
                  {{ end }}
                </tbody>
              </table>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer.html" . }}
