{{ template "header.html" . }}
<!-- Page header -->
<div class="page-header d-print-none text-white">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <h2 class="page-title">
          {{ .title }}
        </h2>
      </div>
      <!-- Page title actions -->
      <!--
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <span class="d-none d-sm-inline">
            <a href="#" class="btn btn-primary btn-5 ">
              New view
            </a>
          </span>
        </div>
      </div>
      -->
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-lg-8">
        <div class="card card-lg">
          <div class="card-body">
            <div class="markdown">
              <h3>Txlog License</h3>
              <p>Txlog is available under MIT License</p>
              <p>Copyright (c) 2023-2025 Rodrigo de Avila</p>
              <p>
                Permission is hereby granted, free of charge, to any person
                obtaining a copy of this software and associated documentation
                files (the "Software"), to deal in the Software without
                restriction, including without limitation the rights to use,
                copy, modify, merge, publish, distribute, sublicense, and/or
                sell copies of the Software, and to permit persons to whom the
                Software is furnished to do so, subject to the following
                conditions:
              </p>
              <p>The above copyright notice and this permission notice shall be
              included in all copies or substantial portions of the
              Software.</p>
              <p>
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
                EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
                OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
                NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
                HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
                WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
                FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
                OTHER DEALINGS IN THE SOFTWARE.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <div class="me-3">
                <!-- Download SVG icon from http://tabler.io/icons/icon/scale -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-md">
                  <path d="M7 20l10 0"></path>
                  <path d="M6 6l6 -1l6 1"></path>
                  <path d="M12 3l0 17"></path>
                  <path d="M9 12l-3 -6l-3 6a3 3 0 0 0 6 0"></path>
                  <path d="M21 12l-3 -6l-3 6a3 3 0 0 0 6 0"></path>
                </svg>
              </div>
              <div>
                <small class="text-secondary">Txlog is licensed under the</small>
                <h3 class="lh-1">MIT License</h3>
              </div>
            </div>
            <div class="text-secondary mb-3">
              A short and simple permissive license with conditions only
              requiring preservation of copyright and license notices. Licensed
              works, modifications, and larger works may be distributed under
              different terms and without source code.
            </div>
            <h4>Permissions</h4>
            <ul class="list-unstyled space-y-1">
              <li>
                <!-- Download SVG icon from http://tabler.io/icons/icon/check -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon text-green icon-2">
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                Commercial use
              </li>
              <li>
                <!-- Download SVG icon from http://tabler.io/icons/icon/check -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon text-green icon-2">
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                Modification
              </li>
              <li>
                <!-- Download SVG icon from http://tabler.io/icons/icon/check -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon text-green icon-2">
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                Distribution
              </li>
              <li>
                <!-- Download SVG icon from http://tabler.io/icons/icon/check -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon text-green icon-2">
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                Private use
              </li>
            </ul>
            <h4>Limitations</h4>
            <ul class="list-unstyled space-y-1">
              <li>
                <!-- Download SVG icon from http://tabler.io/icons/icon/x -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon text-red icon-2">
                  <path d="M18 6l-12 12"></path>
                  <path d="M6 6l12 12"></path>
                </svg>
                Liability
              </li>
              <li>
                <!-- Download SVG icon from http://tabler.io/icons/icon/x -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon text-red icon-2">
                  <path d="M18 6l-12 12"></path>
                  <path d="M6 6l12 12"></path>
                </svg>
                Warranty
              </li>
            </ul>
            <h4>Conditions</h4>
            <ul class="list-unstyled space-y-1">
              <li>
                <!-- Download SVG icon from http://tabler.io/icons/icon/info-circle -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon text-blue icon-2">
                  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                  <path d="M12 9h.01"></path>
                  <path d="M11 12h1v4h1"></path>
                </svg>
                License and copyright notice
              </li>
            </ul>
          </div>
          <div class="card-footer">
            This is not legal advice.
            <a href="https://choosealicense.com/licenses/mit/" target="_blank">Learn more about MIT License.</a>
          </div>
        </div>
      </div>
    </div>
    {{ template "settings.html" . }}
  </div>
</div>

{{ template "footer.html" . }}
