{{ template "header.html" . }}
<!-- Page header -->
<div class="page-header d-print-none text-white">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <div class="page-pretitle">Asset Details</div>
        <h2 class="page-title">
          {{ .hostname }}
        </h2>
      </div>
      <!-- Page title actions -->
      <!--
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <span class="d-none d-sm-inline">
            <a href="#" class="btn btn-primary btn-5 ">
              New view
            </a>
          </span>
        </div>
      </div>
      -->
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="col-sm-6 col-lg-3">
        <div class="card card-sm">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="text-black avatar">
                  <i class="ti ti-server-2"></i>
                </span>
              </div>
              <div class="col">
                <div class="font-weight-medium">{{ .hostname }}</div>
                <div class="text-secondary">Hostname</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card card-sm">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="text-black avatar">
                  <i class="ti ti-id"></i>
                </span>
              </div>
              <div class="col">
                <div class="font-weight-medium">{{ .machine_id }}</div>
                <div class="text-secondary">Asset ID</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card card-sm">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="text-black avatar">
                  <i class="ti ti-brand-redhat"></i>
              </span>
              </div>
              <div class="col">
                <div class="font-weight-medium">{{ with index .executions 0 }}{{ .OS }}{{ end }}</div>
                <div class="text-secondary">OS version</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card card-sm">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="text-black avatar">
                  <i class="ti ti-pencil-code"></i>
                </span>
              </div>
              <div class="col">
                <div class="font-weight-medium">{{ with index .executions 0 }}{{ .AgentVersion }}{{ end }}</div>
                <div class="text-secondary">Agent version</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Last 100 executions <span class="card-subtitle">with transactions</span></h3>
          </div>
          {{ if eq (len .executions) 0 }}
          <div class="empty">
            <div class="empty-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="12" cy="12" r="9" />
                <line x1="9" y1="10" x2="9.01" y2="10" />
                <line x1="15" y1="10" x2="15.01" y2="10" />
                <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
              </svg>
            </div>
            <p class="empty-title">No executions found for this asset</p>
            <p class="empty-subtitle text-muted">Start by running <a href="https://txlog.rda.run/docs/agent" target="_blank">Txlog Agent</a> in one of your servers.</p>
          </div>
          {{ else }}
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable table-striped">
              <thead>
                <tr>
                  <th class="w-1">Execution ID
                    <i class="ti ti-chevron-up"></i>
                  </th>
                  <th>Hostname</th>
                  <th>Execution Time</th>
                  <th>Transactions Processed</th>
                  <th>Transactions Sent</th>
                </tr>
              </thead>
              <tbody>
                {{ with .executions }}
                  {{ range . }}
                    <tr>
                      <td><a href="/executions/{{ .ExecutionID }}">
                        <span class="badge bg-default text-default-fg">
                          <span class="badge {{ if eq .Success true }}bg-success{{ else }}bg-danger{{ end }} me-1"></span>
                          {{ .ExecutionID }}
                        </span>
                      </a></td>
                      <td><kbd>{{ .Hostname }}</kbd></td>
                      <td>{{ .ExecutedAt.Format "02/01/2006 15:04:05 MST" }}</td>
                      <td>{{ .TransactionsProcessed }}</td>
                      <td>{{ .TransactionsSent }}</td>
                    </tr>
                  {{ end }}
                {{ end }}
              </tbody>
            </table>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Other assets <span class="card-subtitle">sharing the same hostname</span></h3>
          </div>
          {{ if eq (len .other_assets) 0 }}
          <div class="empty">
            <div class="empty-icon">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"
              viewBox="0 0 24 24"  fill="none"  stroke="currentColor"
              stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline
              icon-tabler-mood-wink"><path stroke="none" d="M0 0h24v24H0z"
              fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
              /><path d="M15 10h.01" /><path d="M9.5 15a3.5 3.5 0 0 0 5 0"
              /><path d="M8.5 8.5l1.5 1.5l-1.5 1.5" /></svg>
            </div>
            <p class="empty-title">Great! No other assets are sharing this hostname.</p>
          </div>
          {{ else }}
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable table-striped">
              <thead>
                <tr>
                  <th class="w-1">Asset ID</th>
                  <th>Hostname</th>
                  <th>Last seen
                    <i class="ti ti-chevron-up"></i>
                  </th>
                  <th>Agent version</th>
                  <th>OS version</th>
                </tr>
              </thead>
              <tbody>
                {{ with .other_assets }}
                  {{ range . }}
                    <tr>
                      <td><a href="/machines/{{ .MachineID }}"><kbd>{{ .MachineID }}</kbd></a></td>
                      <td><kbd>{{ .Hostname }}</kbd></td>
                      <td>{{ .ExecutedAt.Format "02/01/2006 15:04:05 MST" }}</td>
                      <td>{{ .AgentVersion }}</td>
                      <td>{{ .OS }}</td>
                    </tr>
                  {{ end }}
                {{ end }}
              </tbody>
            </table>
          </div>
          {{ end }}
          <div class="card-footer text-muted">
            These assets may belong to previous versions of this hostname, which
            is common in cases where the VM is replaced by a new one.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer.html" . }}
