{{ template "header.html" . }}
<!-- Page header -->
<div class="page-header d-print-none text-white">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Package details
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a class="btn btn-ghost btn-secondary" href="https://pkgs.org/search/?q={{ .name }}" target="_blank">Search for this package on pkgs.org&nbsp;
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">

      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">{{ .name }}</h3>
          </div>
          <div class="card-body">
            <div class="datagrid">
              <div class="datagrid-item">
                <div class="datagrid-title">Architecture</div>
                <div class="datagrid-content">
                  {{ range $index, $arch := .archList }}
                  {{- if $index }}, {{ end -}}{{ $arch }}
                  {{- end }}
                </div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">Repository</div>
                <div class="datagrid-content">
                  {{ range $index, $repo := .repoList }}
                  {{- if $index }}, {{ end -}}{{ $repo }}
                  {{- end }}
                </div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">Last seen</div>
                <div class="datagrid-content">
                  {{ if .packages }}{{ (index .packages 0).LastSeen }}{{ end }}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Version timeline</h3>
          </div>
          <div class="card-body">
            <ul class="timeline">
            {{ range .packages }}
            <li class="timeline-event">
              <div class="timeline-event-icon">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-package"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" /><path d="M12 12l8 -4.5" /><path d="M12 12l0 9" /><path d="M12 12l-8 -4.5" /><path d="M16 5.25l-8 4.5" /></svg>
              </div>
              <div class="card timeline-event-card">
                <div class="card-body">
                  <div class="text-secondary float-end">
                    <a href="#">List assets
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-end icon-2"><path d="M9 6l6 6l-6 6"></path></svg>
                    </a>
                  </div>
                  <h4>{{ .Version }}<span class="text-secondary">-{{ .Release }}-{{ .Arch }}</span></h4>
                  <p class="text-secondary">
                    <strong>Repo:</strong> {{ .Repo }}<br/>
                    <strong>Last seen:</strong> {{ .LastSeen }}
                  </p>
                </div>
              </div>
            </li>
            {{ end }}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-6">








        <div id="table-placeholder" class="card" style="display: none;">
          <ul class="list-group list-group-flush placeholder-glow">
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-7">
                  <div class="placeholder placeholder-xs col-9"></div>
                </div>
                <div class="col-2 ms-auto text-end">
                  <div class="placeholder placeholder-xs col-8"></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-7">
                  <div class="placeholder placeholder-xs col-9"></div>
                </div>
                <div class="col-2 ms-auto text-end">
                  <div class="placeholder placeholder-xs col-8"></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-7">
                  <div class="placeholder placeholder-xs col-9"></div>
                </div>
                <div class="col-2 ms-auto text-end">
                  <div class="placeholder placeholder-xs col-8"></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-7">
                  <div class="placeholder placeholder-xs col-9"></div>
                </div>
                <div class="col-2 ms-auto text-end">
                  <div class="placeholder placeholder-xs col-8"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>


        <div id="table-assets" class="card" style="display: none;">
          <div class="card-header">
            <h3 class="card-title">Assets running version <kbd>1.2.3</kbd></h3>
          </div>
          <div class="table-responsive">
            <table class="table table-selectable card-table table-vcenter text-nowrap datatable">
              <thead>
                <tr>
                  <th class="w-1">Hostname</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>prd-sms-dc02-z1-api-rest-multiple-db-jms07</td>
                  <td class="text-end">
                    <a class="btn align-text-top" href="/assets/{{ .MachineID }}">Details</a>
                  </td>
                </tr>
                <tr>
                  <td>prd-sms-dc02-z1-api-rest-multiple-db-jms07</td>
                  <td class="text-end">
                    <button class="btn align-text-top">Details</button>
                  </td>
                </tr>
                <tr>
                  <td>prd-sms-dc02-z1-api-rest-multiple-db-jms07</td>
                  <td class="text-end">
                    <button class="btn align-text-top">Details</button>
                  </td>
                </tr>
                <tr>
                  <td>prd-sms-dc02-z1-api-rest-multiple-db-jms07</td>
                  <td class="text-end">
                    <button class="btn align-text-top">Details</button>
                  </td>
                </tr>
                <tr>
                  <td>prd-sms-dc02-z1-api-rest-multiple-db-jms07</td>
                  <td class="text-end">
                    <button class="btn align-text-top">Details</button>
                  </td>
                </tr>
                <tr>
                  <td>prd-sms-dc02-z1-api-rest-multiple-db-jms07</td>
                  <td class="text-end">
                    <button class="btn align-text-top">Details</button>
                  </td>
                </tr>
                <tr>
                  <td>prd-sms-dc02-z1-api-rest-multiple-db-jms07</td>
                  <td class="text-end">
                    <button class="btn align-text-top">Details</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <div class="row g-2 justify-content-center justify-content-sm-between">
              <div class="col-auto d-flex align-items-center">
                <p class="m-0 text-secondary">Showing <strong>1 to 8</strong> of <strong>16 entries</strong></p>
              </div>
              <div class="col-auto">
                <ul class="pagination m-0 ms-auto">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                      <!-- Download SVG icon from http://tabler.io/icons/icon/chevron-left -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                        <path d="M15 6l-6 6l6 6"></path>
                      </svg>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">5</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <!-- Download SVG icon from http://tabler.io/icons/icon/chevron-right -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                        <path d="M9 6l6 6l-6 6"></path>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>



      </div>

    </div>
    {{ template "settings.html" . }}
  </div>
</div>
{{ template "footer.html" . }}
