{{ template "header.html" . }}

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="row g-0">
        <div class="col-12 col-md-3 border-end">
          <div class="card-body">
            <div class="list-group list-group-transparent">
              <a href="/settings"
                class="list-group-item list-group-item-action d-flex align-items-center active">Environment Variables</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9 d-flex flex-column">
          <div class="card-body">
            <div class="alert alert-info" role="alert">
                <strong>Environment Variables</strong> are used to configure the
                application. These values are loaded when the application
                starts. <a href="https://txlog.rda.run/docs/server"
                target="_blank">View the documentation</a> for more information
                on each variable and how to change them.
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-title mt-4">Database Server</h3>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Hostname</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlHost }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Port</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlPort }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Database name</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlDb }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Username</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlUser }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Password</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlPassword }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">SSL Mode</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlSslmode }}">
              </div>
            </div>


          </div>
          <div class="card-body">
            <h3 class="card-title mt-4">Execution Log</h3>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Retention time (days)</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .executionRetentionDays }}">
                <small class="form-hint">
                  Execution logs older than this value will be automatically deleted.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer.html" . }}
