<div class="offcanvas offcanvas-end" tabindex="-1" id="settingsOffcanvas" aria-labelledby="settingsOffcanvasLabel" aria-modal="true" role="dialog">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="settingsOffcanvasLabel">Settings</h3>
    <div class="card-actions">
      <a href="#" class="btn btn-primary btn-3" data-bs-dismiss="offcanvas">
        Close
      </a>
    </div>
  </div>
  <div class="offcanvas-body">
    <div class="card-body">
      <h3 class="card-title mt-4">Database Server</h3>
      <div class="mb-3 row">
        <label class="col-3 col-form-label">Hostname</label>
        <div class="col">
          <input type="text" class="form-control" disabled="" value="{{ .Context.Keys.env.pgsqlHost }}">
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-3 col-form-label">Port</label>
        <div class="col">
          <input type="text" class="form-control" disabled="" value="{{ .Context.Keys.env.pgsqlPort }}">
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-3 col-form-label">Name</label>
        <div class="col">
          <input type="text" class="form-control" disabled="" value="{{ .Context.Keys.env.pgsqlDb }}">
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-3 col-form-label">Username</label>
        <div class="col">
          <input type="text" class="form-control" disabled="" value="{{ .Context.Keys.env.pgsqlUser }}">
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-3 col-form-label">Password</label>
        <div class="col">
          <input type="text" class="form-control" disabled="" value="{{ .Context.Keys.env.pgsqlPassword }}">
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-3 col-form-label">SSL Mode</label>
        <div class="col">
          <input type="text" class="form-control" disabled="" value="{{ .Context.Keys.env.pgsqlSslmode }}">
        </div>
      </div>
      <h3 class="card-title mt-4">Housekeeping</h3>
      <div class="mb-3 row">
        <div class="form-label">Schedule Expression</div>
        <input type="text" class="form-control" disabled="" value="{{ .Context.Keys.env.cronRetentionExpression }}">
        <small class="form-hint">
          The cron expression used to schedule the housekeeping job.
        </small>
      </div>
      <div class="mb-3 row">
        <div class="form-label">Schedule Expression</div>
        <input type="text" class="form-control" disabled="" value="{{ .Context.Keys.env.cronRetentionExpression }}">
        <small class="form-hint">
          The cron expression used to schedule the housekeeping job.
        </small>
      </div>
      <h3 class="card-title mt-4">Executions</h3>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-label">Ignore empty executions?</div>
          <input type="text" class="form-control" disabled="" value="{{ if eq .Context.Keys.env.ignoreEmptyExecution "true" }}true{{ else }}false{{ end }}">
          <small class="form-hint">
            If set to true, empty executions will be ignored and not
            stored in the database.
          </small>
        </div>
      </div>
      <h3 class="card-title mt-4">Statistics</h3>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-label">Schedule Expression</div>
          <input type="text" class="form-control" disabled="" value="{{ .Context.Keys.env.cronStatisticsExpression }}">
          <small class="form-hint">
            The cron expression used to schedule the statistics job.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
