{{ template "header.html" . }}

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="row g-0">
        <div class="col-12 col-md-12 d-flex flex-column">
          <div class="card-body">
            <div class="alert alert-info" role="alert">
                <strong>Environment Variables</strong> are used to configure the
                server. These values are loaded when the server
                starts. <a href="https://txlog.rda.run/docs/server"
                target="_blank">View the documentation</a> for more information
                on each variable and how to change them.
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-title mt-4">Database Server</h3>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Hostname</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlHost }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Port</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlPort }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Database name</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlDb }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Username</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlUser }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">Password</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlPassword }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-3 col-form-label">SSL Mode</label>
              <div class="col">
                <input type="text" class="form-control" disabled="" value="{{ .pgsqlSslmode }}">
              </div>
            </div>


          </div>
          <div class="card-body">
            <h3 class="card-title mt-4">Housekeeping</h3>
            <div class="row g-2">
              <div class="col-md">
                <div class="form-label">Schedule Expression</div>
                <input type="text" class="form-control" disabled="" value="{{ .cronRetentionExpression }}">
                <small class="form-hint">
                  The cron expression used to schedule the housekeeping job.
                </small>
              </div>
              <div class="col-md">
                <div class="form-label">Retention time</div>
                <input type="text" class="form-control" disabled="" value="{{ .cronRetentionDays }}">
                <small class="form-hint">
                  Execution logs older than this value (in days) will be automatically deleted.
                </small>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-title mt-4">Statistics</h3>
            <div class="row g-2">
              <div class="col-md">
                <div class="form-label">Schedule Expression</div>
                <input type="text" class="form-control" disabled="" value="{{ .cronStatisticsExpression }}">
                <small class="form-hint">
                  The cron expression used to schedule the statistics job.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer.html" . }}
